GroceryApp/Web References/LocalWebService/AuthenticationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://grocerystore.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://grocerystore.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://grocerystore.org/">
      <s:element name="isValidCredentials">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isValidCredentialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isValidCredentialsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="isValidCredentialsSoapIn">
    <wsdl:part name="parameters" element="tns:isValidCredentials" />
  </wsdl:message>
  <wsdl:message name="isValidCredentialsSoapOut">
    <wsdl:part name="parameters" element="tns:isValidCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="isValidCredentialsHttpGetIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="isValidCredentialsHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="isValidCredentialsHttpPostIn">
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="isValidCredentialsHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationServiceSoap">
    <wsdl:operation name="isValidCredentials">
      <wsdl:input message="tns:isValidCredentialsSoapIn" />
      <wsdl:output message="tns:isValidCredentialsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AuthenticationServiceHttpGet">
    <wsdl:operation name="isValidCredentials">
      <wsdl:input message="tns:isValidCredentialsHttpGetIn" />
      <wsdl:output message="tns:isValidCredentialsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AuthenticationServiceHttpPost">
    <wsdl:operation name="isValidCredentials">
      <wsdl:input message="tns:isValidCredentialsHttpPostIn" />
      <wsdl:output message="tns:isValidCredentialsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationServiceSoap" type="tns:AuthenticationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isValidCredentials">
      <soap:operation soapAction="http://grocerystore.org/isValidCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticationServiceSoap12" type="tns:AuthenticationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isValidCredentials">
      <soap12:operation soapAction="http://grocerystore.org/isValidCredentials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticationServiceHttpGet" type="tns:AuthenticationServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="isValidCredentials">
      <http:operation location="/isValidCredentials" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticationServiceHttpPost" type="tns:AuthenticationServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="isValidCredentials">
      <http:operation location="/isValidCredentials" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationService">
    <wsdl:port name="AuthenticationServiceSoap" binding="tns:AuthenticationServiceSoap">
      <soap:address location="http://localhost/WebserviceAuthentication/AuthenticationService.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthenticationServiceSoap12" binding="tns:AuthenticationServiceSoap12">
      <soap12:address location="http://localhost/WebserviceAuthentication/AuthenticationService.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthenticationServiceHttpGet" binding="tns:AuthenticationServiceHttpGet">
      <http:address location="http://localhost/WebserviceAuthentication/AuthenticationService.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthenticationServiceHttpPost" binding="tns:AuthenticationServiceHttpPost">
      <http:address location="http://localhost/WebserviceAuthentication/AuthenticationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>